<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.apache.cordova.hello"
      version="0.2.6">
	
    <name>Hello Test</name>
    <description>Cordova Hello Test Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,hello</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-device-motion.git</repo>

    <!-- android -->
    <platform name="android">
	      <js-module src="www/hello.js" name="hello">
            <clobbers target="hello.go" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Hello">
                <param name="android-package" value="org.apache.cordova.hello"/>
            </feature>
        </config-file>

        <source-file src="src/android/Hello.java" target-dir="src/org/apache/cordova/hello" />
    
    </platform>

</plugin>
